/* gitbook website 站点样式 */

a,
a:focus {
  outline: none;
}

.book .book-summary ul.summary li span {
  opacity: 0.9;
  cursor: default;
}

#book-search-results .search-results .has-results .search-results-item a {
  color: #42b983;
}